<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Index Serve Continuous Deployment Portal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angularjs-nvd3-directives.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="~/Scripts/nv.d3.js"></script>
    <script src="~/Scripts/ng-grid.debug.js"></script>
    <script src="~/Scripts/tree-grid-directive.js"></script>
    <script src="~/Scripts/App/metricService.js"></script>
    <script src="~/Scripts/App/metricControllers.js"></script>
    <script src="~/Scripts/App/app.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" ng-controller="navController">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li class="dropdown" ng-class="{active: isActive('/checkins/')}">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Checkins <span class="caret"></span></a>
                    </li>
                    <li class="dropdown" ng-class="{active: isActive('/builds/')}">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Builds <span class="caret"></span></a>
                    </li>
                    <li class="dropdown" ng-class="{active: isActive('/qualification/')}">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Qualification <span class="caret"></span></a>
                    </li>
                    <li class="dropdown" ng-class="{active: isActive('/deployments/')}">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Deployments <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/deployments/charts">Rollout Charts</a></li>
                            <li><a href="#/deployments/summary">Rollout Summary</a></li>
                            <li><a href="#/deployments/details">Rollout Details</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" ng-class="{active: isActive('/monitoring/')}">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Monitoring <span class="caret"></span></a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Index Serve Continuous Deployment Team</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
